body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.chakra-field__root {
    .chakra-field__helperText {
        opacity: 0;
    }
    input:focus + .chakra-field__helperText {
        opacity: 1;
    }
}
